{% extends "wagtailusers/users/edit.html" %}

{% block fields %}
    {% if form.separate_username_field %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.username_field %}
    {% endif %}
    {% if form.email %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.email %}
    {% endif %}
    {% if form.first_name %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.first_name %}
    {% endif %}
    {% if form.last_name %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.last_name %}
    {% endif %}
    {% block extra_fields %}{% endblock extra_fields %}
    {% if form.password1 %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.password1 %}
    {% endif %}
    {% if form.password2 %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.password2 %}
    {% endif %}
    {% if form.is_active %}
        {% include "wagtailadmin/shared/field_as_li.html" with field=form.is_active %}
    {% endif %}

{% endblock fields %}
